<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Webble - Sign Up{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
  <body>
      <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Webble Weather App
                </h1>
            </div>
        </div>
    </section>
      <header>
      {% if user.is_authenticated %}
        <a href="{% url 'home' %}">Home</a> / <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a> / <a href="{% url 'signup' %}">Signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
        <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-8">
                    <form method="POST">
                        {% block content %}
                        {% endblock %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    </main>
  </body>
</html>